<div class="newMenu">

    <h2>
        Add a New Menu
    </h2>

    <form action="/restaurants" method="POST">
    <input type="hidden" name="RestaurantId" value="{{restaurants.0.id}}">

        <div>
            <label for="nameOfMenu">Name of Menu:</label><br>
            <input type="text" name='title' id="title" required />
        </div>
        <button type="submit" class='button--anchor'>
            Sumbit
        </button>
    </form>

</div>