<div class="newRestaurant">

    <h2>
        Add a New Restaurant
    </h2>
    <form action="/restaurants" method="POST">
        <div>
            <label for="nameOfRestaurant">Name of Restaurant:</label><br>
            <input type="text" name='name' id="name" required />
        </div>
        <div>
            <label for="imageLink">Image Link:</label><br />
            <input type="text" name='imagelink' id="imagelink" required />
        </div>
        <button type="submit" class='button--anchor'>
            Sumbit
        </button>
    </form>

</div>